{{define "title"}}Submissions - Create{{end}}
{{define "content"}}

    <form method="post" autocomplete="off">
        <form>
            <div class="form-group">
                <label for="submission_file">Solution</label>
                <input name="submission_file" type="file" class="form-control-file" id="submission_file">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </form>

{{end}}
